<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#0066ff" />
    <title>{{APP_NAME}}</title>
  </head>
  <body class="bg-gray-50 dark:bg-gray-950 text-gray-900 dark:text-gray-100">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
</html>
